.comment_wrap {
    margin-top: 50px;
}
.comment_wrap h4 {
    margin: 0 0 15px;
}

.comment_box {
    margin-top: 10px;
}

.comment_input {
    display: flex;
    align-items: center;
    gap: 10px;
}

.comment_input textarea {
    flex-grow: 1;
    box-sizing: border-box;
    padding: 10px;
    height: 70px;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
}

.comment_input button {
    width: 60px;
    border-radius: 5px;
    height: 70px;
    line-height: 70px;
    box-sizing: border-box;
    text-align: center;
    flex-shrink: 0;
}

.comment_list  {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #eee;
}

.comment_list ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.comment_list .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.comment_list .top .name {
    border: 0;
    padding: 0;
    font-weight: 700;
    font-size: 15px;
}

.comment_list .top .btn_box {
    display: flex;
    align-items: center;
    gap: 5px;
}

.comment_list .top .btn_box .btn {
    padding: 5px 10px;
    border-radius: 5px;
    box-sizing: border-box;
    text-align: center;
}

.comment_list .txt_box {
    color: #666;
    font-size: 14px;
    padding: 10px 0;
}

.reply_wrap  {
    margin-top: 10px;
}

.reply_wrap .reply_form {
    display: flex;
    align-items: center;
    gap: 5px;
}

.reply_wrap .reply_form .input {
    flex-grow: 1;
    padding: 5px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #e6e6e6;
    height: 34px;
    box-sizing: border-box;
}

.reply_wrap .reply_form button {
    width: 60px;
    border-radius: 5px;
    height: 34px;
    line-height: 34px;
    box-sizing: border-box;
    text-align: center;
    flex-shrink: 0;
}

.reply_wrap .comment_list {
    margin: 0;    
    padding-left: 50px;
    border: 0;
}